<h1>"Who's that guy in that movie?"</h1>
<div class="form">
	<form accept-charset="UTF-8" action="/result" method="post">
    	<label for="movie">Enter a movie title or keyword:</label>
    	<input id="movie" name="movie" type="text" />
    	<input name="commit" type="submit" value="Search" /> 
    </form>
</div>


