<body id="index">

<div class="container">
 <div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">	
   <h1 id="index_header">"Say "What" again!"</h1>
  </div>
 </div>
</div>

<div class="container">
<div class="row">
 <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
 	<div id="index_form">
  <form accept-charset="UTF-8" action="/result" method="post">
    <label for="movie">Enter a movie title or keyword:</label>
     <input id="movie" name="movie" type="text"/>
     <input name="commit" type="submit" value="Find the movie!" /> 
  </form>
 </div>
</div>
</div>
</div>
</body>

<!-- I know it was you Fredo... And may the odds be ever in your favor, "" -->

