<!DOCTYPE html>
 <html>
 	<head>
 		<title>Movie Search</title>
 		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
 		<link href='http://fonts.googleapis.com/css?family=Monoton' rel='stylesheet' type='text/css'>
 		<link href='http://fonts.googleapis.com/css?family=Rock+Salt' rel='stylesheet' type='text/css'>
 	</head>

 	<body>
 		
 				<%= yield %>
 		
	</body>

 </html>





